.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 40%;
}

.top-container .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}

.top-container .img-container svg {
  width: 50%;
  height: 90%;
}

.top-container .img-container svg path {
  fill: var(--bg-Dark);
  transition: fill 200ms ease-in-out;
}

.top-container p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--txt-Dark);
  font-size: 1.125rem;
  font-weight: var(--fw-Semi-Bold);
  height: auto;
  width: 90%;
  overflow: hidden;
  transition: color 200ms ease-in-out;
}

.top-container .search-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  width: 85%;
  height: 30%;
}

.top-container .search-container p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  font-weight: var(--fw-Medium);
  margin-bottom: 2%;
  height: 30%;
  width: 100%;
  overflow: hidden;
}

.top-container .search-container input {
  background: var(--bg-Semi-Medium);
  color: var(--txt-Dark);
  font-size: 1.125rem;
  border: none;
  border-radius: 5px;
  padding: 0 12% 0 3%;
  width: 100%;
  height: 50%;
  transition: background 200ms ease-in-out, color 200ms ease-in-out;
}

.top-container .search-container input::placeholder {
  color: var(--txt-Semi-Medium);
  font-size: 1.125rem;
  transition: color 200ms ease-in-out;
}

.top-container .search-container a {
  position: absolute;
  left: 88%;
  top: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 40%;
}

.top-container .search-container a svg {
  fill: var(--txt-Semi-Medium);
  width: 100%;
  height: 90%;
  transform: rotate(90deg);
  transition: fill 200ms ease-in-out;
}

.bottom-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 50%;
}

.bottom-container .list-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 85%;
  height: 45%;
}

.bottom-container .list-content p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--txt-Dark);
  font-size: 1rem;
  font-weight: var(--fw-Semi-Bold);
  width: 100%;
  margin-bottom: 3%;
  transition: color 200ms ease-in-out;
}

.bottom-container .list-content ul {
  width: 85%;
  height: 80%;
  list-style: none;
}

.bottom-container .list-content ul li {
  color: var(--txt-Dark);
  font-size: 0.875rem;
  font-weight: var(--fw-Medium);
  width: 100%;
  margin-bottom: 3%;
  transition: color 200ms ease-in-out;
}

.bottom-container .list-content ul li::before {
  content: "\2022";
  display: inline-block;
  color: var(--txt-Dark);
  width: 1rem;
  margin-left: -1rem;
  transition: color 200ms ease-in-out;
}

.bottom-container .list-content ul li a,
.bottom-container .list-content ul li a:link,
.bottom-container .list-content ul li a:visited,
.bottom-container .list-content ul li a:hover,
.bottom-container .list-content ul li a:active {
  color: var(--txt-Dark);
  font-weight: var(--fw-Semi-Bold);
  transition: color 200ms ease-in-out;
}

.bottom-container p {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--txt-Medium);
  font-size: 0.875rem;
  font-weight: var(--fw-Regular);
  width: 85%;
  transition: color 200ms ease-in-out;
}

.bottom-container .bar::before {
  content: "";
  position: absolute;
  top: -30%;
  left: 0;
  background: var(--bg-Semi-Dark);
  width: 100%;
  height: 1%;
  transition: background 200ms ease-in-out;
}

.bottom-container .card {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 85%;
  height: 25%;
  background: var(--bg-Light);
  box-shadow: var(--cardShadow);
  border-radius: 5px;
  padding-left: 5%;
  transition: background 200ms ease-in-out, box-shadow 200ms ease-in-out;
}

.bottom-container .card p {
  color: var(--txt-Medium);
  font-size: 1.125rem;
  width: 45%;
  transition: color 200ms ease-in-out;
}

.bottom-container .card p+p {
  color: var(--txt-Dark);
  font-size: 1.375rem;
  font-weight: var(--fw-Semi-Bold);
  width: 25%;
  transition: color 200ms ease-in-out;
}

.bottom-container .card .info-container {
  width: 30%;
  height: 80%;
}

.bottom-container .card .info-container .top-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 90%;
  height: 35%;
}

.bottom-container .card .info-container .top-area p {
  color: var(--txt-Light);
  font-size: 0.75rem;
  width: 70%;
  transition: color 200ms ease-in-out;
}

.bottom-container .card .info-container .top-area svg {
  fill: var(--bg-Medium);
  width: 30%;
  height: 85%;
  transition: fill 200ms ease-in-out;
}

.bottom-container .card .info-container .bottom-area {
  width: 90%;
  height: 65%;
}

.bottom-container .card .info-container .bottom-area svg {
  fill: var(--bg-Medium);
  width: 100%;
  height: 100%;
  transition: fill 200ms ease-in-out;
}

/* animations */
.darkTHeme {
  transform: translateX(100%);
}
