.theme-container {
  position: relative;
  width: 100%;
  height: 10%;
}

.theme-container .themeToggle {
  position: absolute;
  left: 85%;
  top: 25%;
  background: var(--bg-Light);
  border: 2px solid var(--bg-Semi-Medium);
  border-radius: 100px;
  width: 10%;
  height: 35%;
  transition: background 200ms ease-in-out, border-color 200ms ease-in-out;
}

.theme-container .themeToggle #button {
  background: var(--bg-Dark);
  border-radius: 50%;
  width: 50%;
  height: 100%;
  cursor: pointer;
  transition: background 200ms ease-in-out, transform 350ms ease-in-out;
}

.top-container {
  display: flex;
  border: 1px solid red;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 40%;
}

.top-container .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}

.top-container .img-container svg {
  width: 50%;
  height: 90%;
}

.top-container .img-container svg path {
  fill: var(--bg-Dark);
}

.top-container p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--txt-Dark);
  font-size: 1.125rem;
  font-weight: var(--fw-Semi-Bold);
  height: 10%;
  width: 100%;
  overflow: hidden;
}

.top-container .search-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  width: 85%;
  height: 30%;
}

.top-container .search-container p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  font-weight: var(--fw-Medium);
  margin-bottom: 2%;
  height: 30%;
  width: 100%;
  overflow: hidden;
}

.top-container .search-container input {
  background: var(--bg-Semi-Medium);
  color: var(--txt-Dark);
  font-size: 1.125rem;
  border: none;
  border-radius: 5px;
  padding: 0 12% 0 3%;
  width: 100%;
  height: 50%;
  transition: background 200ms ease-in-out, color 200ms ease-in-out;
}

.top-container .search-container input::placeholder {
  color: var(--txt-Semi-Medium);
  font-size: 1.125rem;
  transition: color 200ms ease-in-out;
}

.top-container .search-container a {
  position: absolute;
  left: 88%;
  top: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 40%;
}

.top-container .search-container a svg {
  fill: var(--txt-Semi-Medium);
  width: 100%;
  height: 90%;
  transform: rotate(90deg);
  transition: fill 200ms ease-in-out;
}

.bottom-container{
  display: flex;
  border: 1px solid green;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 40%;}

/* animations */
.darkTHeme {
  transform: translateX(100%);
}
