/* You can add global styles to this file, and also import other style files */
:root {
  --inter: "Inter", sans-serif;
}

/* reset */

*,
*:after,
*:before {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--inter);
  outline: none;
}

section {
  width: 400px;
  height: 500px;
}

.hide {
  display: none !important;
}
