.theme-container {
  position: relative;
  width: 100%;
  height: 10%;
}

.theme-container .themeToggle {
  position: absolute;
  left: 85%;
  top: 25%;
  background: var(--bg-Light);
  border: 2px solid var(--bg-Semi-Medium);
  border-radius: 100px;
  width: 10%;
  height: 35%;
  transition: background 200ms ease-in-out, border-color 200ms ease-in-out;
}

.theme-container .themeToggle #button {
  background: var(--bg-Dark);
  border-radius: 50%;
  width: 50%;
  height: 100%;
  cursor: pointer;
  transition: background 200ms ease-in-out, transform 350ms ease-in-out;
}



/* animations */
.darkTHeme {
  transform: translateX(100%);
}
